#fn-btn {
    font-size: 1.2rem;
    color: white;
    font-family: 'Frenstyle', sans-serif;
    border-bottom: 5px solid #fcaf17;
    border-radius: 5px;
    padding: 5px 10px;
    align-self: flex-start;
}